<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.ClientMapper">
    <select id="findClientById" parameterType="int" resultType="Po.Client">
        select * from client where id=#{id}
    </select>

    <select id="findAll" resultType="Po.Client">
        select * from client
    </select>

    <select id="findSum" resultType="int" >
        select count(*) from client
    </select>

    <insert id="addClient" parameterType="Po.Client">
        insert into client (name, sex, phone, address)
        values (#{name},#{sex},#{phone},#{address})
    </insert>

    <delete id="delClient" parameterType="int">
        delete from client where id=#{id}
    </delete>

    <update id="updClient" parameterType="Po.Client" >
         update client
         set name=#{name},
             sex=#{sex},
             phone=#{phone},
             address=#{address}
          where id=#{id}
    </update>
</mapper>