<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.OtherMapper">

    <select id="findAllFactorySite" resultType="Po.FactorySite">
        select * from factorysite;
    </select>

    <select id="findFactorySiteById" parameterType="int"   resultType="Po.FactorySite">
        SELECT * from factorysite where id=#{id}
    </select>
</mapper>